<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
    {{- partial "_shared/head.html" . -}}
	</head>
    <body>
        {{- block "header" . }}{{- end }}
        <div class="site-content">   
            <div class="container">
                {{- block "main" . }}{{- end }}
            </div>
            {{- block "footer" . }}{{- end }}
        </div>
        {{- partial "_shared/js.html" . -}}
        {{ template "_internal/google_analytics.html" . }}
    </body>
</html>
