<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head> 
	     	{{- partial "_shared/head.html" . -}}
	<link rel="stylesheet" href="/css/leipzig.min.css">
	</head>
    <body>
        {{- block "header" . }}{{- end }}
        <div class="site-content">   
            <div class="container">
                {{- block "main" . }}{{- end }}
            </div>
            {{- block "footer" . }}{{- end }}
        </div>
        {{- partial "_shared/js.html" . -}}
<script src="/js/leipzig.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    Leipzig({ firstLineOrig: true,
	    lastLineFree: false}).gloss();
  });
</script>
{{ template "_internal/google_analytics.html" . }}
    </body>
</html>
