{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    {{- partial "_shared/title.html" . -}}

    <div class="main-content">
        <!-- Posts Index
        ================================================== -->
        <section class="recent-posts">            
            <div class="section-title">
                    {{- partial "breadcrumb.html" . -}}
            </div>            
                    <div class="article-post">
			    <p>Here</p>
			    {{ .Content }}<p>Where id content</p>
                    </div>
             <div class="row listrecent">
		     <ul>
                {{ range .Pages }}
		<li><a href="{{ .URL }}">{{ .Title }}</a></li>
                {{end}}
		     </ul>
            </div>
        </section>
    </div>
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/jumbotron.html" . -}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}
