---
title: Solemn Proclamation of Moveable Feasts
permalink: /music/epiphany.html
image: Adoration_of_the_Magi_Tapestry400.jpg
author: veronica
url: /music/epiphany.html
comments: true
categories: ["Music"]
---


<h3>De publicatione Festorum mobilium</h3>


<a title="By Designed by Edward Burne Jones with details by William Morris and John Henry Dearle [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3AAdoration_of_the_Magi_Tapestry.png"><img width="512" alt="Adoration of the Magi Tapestry" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/31/Adoration_of_the_Magi_Tapestry.png/512px-Adoration_of_the_Magi_Tapestry.png"/></a>


<ul>
	<li>2021 -  <a href="proc/proc2021.pdf">Printable pdf</a> | <a href="proc/proc2021.gabc">gabc source</a> and <a href="proc/proc2021font.pdf">Mezalia font version</a> because I still like the font</li>
	<li>2020 - <a href="proc/proc2020.pdf">Printable pdf</a> | <a href="proc/proc2020.gabc">gabc source</a> and <a href="proc/proc2020font.pdf">Mezalia font version</a> because I still like the font</li>
	<li>2019 - <a href="proc/proc2019.pdf">Printable pdf</a> | <a href="proc/proc2019.gabc">gabc source</a> and <a href="proc/proc2019font.pdf">a version using the Mezalia font</a> mostly because it has matching initials</li>
<li>2018 - <a href="proc/proc2018.pdf">Printable pdf</a> | <a href="proc/proc2018.gabc">gabc source</a></li>
<li>2017 - <a href="proc/proc2017.pdf">Printable pdf</a> | <a href="proc/proc2017.gabc">gabc source</a> (with a specially requested version transferring Ascension Thursday and Corpus Christi to the following Sundays: <a href="proc/proc2017transferred.pdf">proc2017transferred.pdf</a></li>
<li>2016 - <a href="proc/proc2016.pdf">Printable pdf</a> | <a href="proc/proc2016.gabc">gabc source</a></li>
<li>2015 - <a href="proc/proc2015.pdf">Printable pdf</a> | <a href="proc/proc2015.gabc">gabc source</a><br> (with a specially requested version with Corpus Christi transferred to the Sunday : <a href="proc/proc2015shiftcc.pdf">proc2015shiftcc.pdf</a> and combining Corpus et Sanguis Christi <a href="proc/proc2015shiftcc_of.pdf">proc2015shift_of.pdf</a>)</li>
<li>2014 - <a href="proc/proc2014.pdf">Printable pdf</a> | <a href="proc/proc2014.gabc">gabc source</a></li>
<li>2013 - <a href="proc/proc2013.pdf">Printable pdf</a> | <a href="proc/proc2013.gabc">gabc source</a></li>
<li>2012 - <a href="proc/proc2012.pdf">Printable pdf</a> | <a href="proc/proc2012.gabc">gabc source</a></li>
<li>2011 - <a href="proc/proc2011.pdf">Printable pdf</a> | <a
href="proc/proc2011.gabc">gabc source</a></li>
<li>2010 - <a href="proc/proc2010.pdf">Printable pdf</a> | <a href="proc/proc2010.gabc">gabc source</a></li>
<li>2009 - <a href="proc/proc2009.pdf">Printable pdf</a> | <a href="proc/proc2009.gabc">gabc source</a></li>
<li>2008 - <a href="proc/proc2008.pdf">Printable pdf</a> | <a href="proc/proc2008.tex">OpusTeX source</a></li>
<li>2007 - <a href="proc/proc2007.pdf">Printable pdf</a> | <a href="proc/proc2007.tex">OpusTeX source</a></li>
<li>2006 - <a href="proc/proc2006.pdf">Printable pdf</a> | <a href="proc/proc2006.tex">OpusTeX source</a></li>
<li>2005 - <a href="proc/proc2005.pdf">Printable pdf</a> | <a href="proc/proc2005.tex">OpusTeX source</a></li>
<li>2004 - <a href="proc/proc2004.pdf">Printable pdf</a> | <a href="proc/proc2004.tex">OpusTeX source</a></li>
<li>2003 - <a href="proc/proc2003.pdf">Printable pdf</a> | <a href="proc/proc2003.tex">OpusTeX source</a></li>
</ul>

<p>
The main .tex file for compiling the gabc source files <a href="proc/main-lualatex.tex">main-lualatex.tex</a> or for 2013 <a href="proc/smallermargins.tex">smallermargins.tex</a>.
</p>

<p>
There is a custom of proclaiming the dates of the upcoming moveable feasts each year on the feast of the Epiphany (6th January).
</p>

<p>
I started typing these up for the <a href="http://www.maternalheart.org">Maternal Heart of Mary Church</a> each year in time for Epiphany. With the main protagonist passing away and me moving further west there is less and less impetus to keep it up, but it still seems someone will remind me each year and I’ll again be surprised how quickly it comes together.
</p>

<p>It goes something like this:</p>

<blockquote>
Noveritis, fratres carissimi, quod annuente Dei misericordia, sicut de Nativitate Domini nostri Jesu Christi gavisi sumus, ita et de Resurrectione ejusdem Salvatoris nostri gaudium vobis annuntiamus.
</blockquote>

<blockquote>
It is solemnly made known, dearest brethren that, just as we through the bounteous mercy of God, have rejoiced in the Birth of Our Lord Jesus Christ, likewise should we proclaim the joy of the Resurrection of this same Saviour. 
</blockquote>

<p>
Then follows the list of moveable feasts: Septuagesima, Ash Wednesday, Easter Sunday, Ascension Thursday (yes, Thursday - this is for the Vetus Ordo or Extraordinary Form of the Roman Rite.  No one has asked for an adjustment for Ascension Sunday yet.) Pentecost,  Corpus Christi and the First Sunday of Advent.
</p>

<p>
To keep updated about future editions, please <b>Subscribe to Epiphany Proclamation</b><br />
<form action="http://groups.google.com/group/epiphany-proclamation/boxsubscribe">
<input type=hidden name="hl" value="en">
Email: <input type=text name=email>
  <input type=submit name="sub" value="Subscribe">
</form>
  <a href="http://groups.google.com/group/epiphany-proclamation?hl=en">Visit this google group</a>
</p>

