<div class="share">
    <p>Share</p>
    <ul>
        <li class="ml-1 mr-1">
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .URL | absURL }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=435');return false;">
        <i class="fab fa-twitter"></i>
        </a>
        </li>
        
        <li class="ml-1 mr-1">
        <a target="_blank" href="https://facebook.com/sharer.php?u={{ .URL | absURL }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
        <i class="fab fa-facebook-f"></i>
        </a>
        </li>
        
        <li class="ml-1 mr-1">
        <a target="_blank" href="https://plus.google.com/share?url={{ .URL | absURL }}" onclick="window.open(this.href, 'google-share', 'width=550,height=435');return false;">
        <i class="fab fa-google"></i>
        </a>
        </li>

        <li class="ml-1 mr-1">
        <a target="_blank" href="https://www.xing.com/spi/shares/new?url={{ .URL | absURL }}" onclick="window.open(this.href, 'xing-share', 'width=550,height=435');return false;">
        <i class="fab fa-xing"></i>
        </a>
        </li>        
    </ul>

    {{ if .Params.comments }}
        <div class="sep">
        </div>				
        <ul>
            <li> 
            <a  class="small smoothscroll" href="#disqus_thread"></a>
            </li>
        </ul>
    {{ end }}
</div>
