---
title: Books
---

<h2>My Books For Sale!</h2>

<h3>Music Books</h3>
<ul><li><img src="nboh.jpg" align="right"><strong>A New Book of Old Hymns</strong> <br>
		<a href="http://www.lulu.com/shop/veronica-brandt/a-new-book-of-old-hymns/paperback/product-24143990.html" target="_blank">Paperback</a>, <a href="http://www.lulu.com/shop/veronica-brandt/a-new-book-of-old-hymns-spiral-bound/paperback/product-24144015.html" target="_blank">Spiral Bound</a>, <a href="http://www.lulu.com/shop/veronica-brandt/a-new-book-of-old-hymns-large-print/paperback/product-24144036.html" target="_blank">Large Print</a>, <a href="http://www.lulu.com/shop/veronica-brandt/a-new-book-of-old-hymns/ebook/product-24157391.html" target="_blank">PDF</a> and <a href="http://www.lulu.com/shop/veronica-brandt/a-new-book-of-old-hymns-wholesale/paperback/product-24144024.html" target="_blank">Wholesale</a><br>
		<a href="https://newbookoldhymns.brandt.id.au">The Book's Special Webpage</a><br>
		A collection of hymns focusing on chant, including a litany, rounds, antiphons, carols, for all seasons of the Church's year, plus Ordinaries of the Mass, Benediction and some English hymns.  Chant is newly typeset, not photocopied.  English translations for each Latin hymn.  Indexed for easy reference.
		<br>
		This Fourth Edition updates the Prayer for the Pope with a new illustration of Pope Francis as well as lots of little improvements including the addition of a popular setting of Christus Vincit.
		<br>
		There are lots of books of Gregorian chant out there, but only a few with English translations of all the text.  This book puts the translation right up under the Latin to make it easy to pray with understanding.  
		<br>
		This book gives a window into the history of hymns. Many will recognise these hymns are still popular today in different arrangements. This is a book to browse and enjoy at your own pace.
	</li>
	<li><img src="westminster.jpg" align="right">The Old Westminster Hymnal <br>
		<a href="http://www.lulu.com/shop/richard-terry/old-westminster-hymnal-coil-bound/paperback/product-21785083.html" target="_blank">Paperback</a> and <a href="http://www.lulu.com/shop/richard-terry/old-westminster-hymnal-coil-bound/paperback/product-21785083.html" target="_blank">Spiral bound</a><br>
		From the preface: This Hymnal is issued with the sanction of the Archbishops and Bishops of the provinces of Westminster, Birmingham and Liverpool.  The Hymns ... number 250. They have been in part selected and in part composed by Mr R R Terry, Mus.D., Organist and Choirmaster of Westminster Cathedral, who has also written and edited the harmonies. This eminent musician has here presented the public with a work of great originality and distinction, for which he is entitled to the thanks of the Catholic Church in English-speaking countries.
		<br>
	The Hymns are what we have been accustomed to, but the musical setting is, on the whole, far more scientific and satisfying than anything that has hiterto appeared. There can be no doubt that it will conduce very much to the devotion and decorum of extra-liturgical worship and popular services to have one common manual of Hymns, which at once offers a suitable variety and prevents the undesirable introduction of amateur efforts and unedifying novelties.
	<br>
	Mostly from <a href="https://archive.org/details/westminsterhymna00londuoft">scans from the University of Toronto</a>, with thanks to Microsoft for funding the scanning. Some additional pages of indices scanned in myself from a slightly later edition lent to me by a friend.</li>
	<li><img src="treasury.jpg" align="right"><strong>A Treasury of Catholic Song</strong><br>
	       	<a href="http://www.lulu.com/shop/sidney-hurlbut/treasury-of-catholic-song/paperback/product-18866942.html" target="_blank">Paperback</a>
		<br> A little-known collection of hymns drawing on a wide variety of sources including the Westminster Hymnal and the Arundel Hymnal.  Each hymn is presented in four part harmony and well engraved - the author was a professional engraver as well as Parish Priest.  The scans come from <a href="https://archive.org/details/treasuryofcathol00hurl">Princeton via the Internet Archive</a> with funding from Calvin College. I have tidied up the scans and vectorised them for printing.</li>
	<li><img src="arundel.jpg" align="right"><strong>Arundel Hymns</strong> <br>
		<a href="http://www.lulu.com/shop/henry-duke-of-norfolk-and-charles-gatty/arundel-hymns/paperback/product-21070541.html" target="_blank">Paperback</a> <br>
		One of the early hymnbooks of the Catholic Revival in England.  Cardinal Newman, Fr Edward Caswall, Fr Frederick Faber, Fr John O'Connor all have hymns in here.  Its not so much a pew book as a compendium of all treasures of Catholic poetry in English and Latin.  Lots of tunes for Tantum Ergo and O Salutaris too.
		<br>
		The scans came from <a href="https://archive.org/details/arundelhymnsmusi00norfuoft">The University of Toronto via the Internet Archive</a> with funding from Microsoft. The frontispiece came from <a href="https://archive.org/details/arundelhymnsand00gattgoog">Harvard University</a> with funding from Google.
	</li>
	<li><img src="basil.jpg" align="right">St Basil's Hymnal 1918 <br>
	       	<a href="http://www.lulu.com/shop/the-basilian-fathers/st-basils-hymnal-1918/paperback/product-21070482.html" target="_blank">Paperback</a> <br>
		The St Basil Hymnal started in the 1880s and kept being revised and printed over the next seventy or so years.  It comes from Canada but was also in use in the United States.  This particular revision is one of the early ones with a clearer layout.  The book comes from <a href="https://archive.org/details/stbasilshymnal00unknuoft">Trinity College, Universtity of Toronto via the Internet Archive</a>, thanks to funding from Microsoft, but two pages were badly scanned and have been reconstructed.  The whole lot has been straightened out.</li>
	<li><img src="draft.jpg" align="right"><strong>The Draft Hymnal</strong><br>
		<a href="http://www.lulu.com/shop/veronica-brandt/the-draft-hymnal/paperback/product-16532228.html" target="_blank">Paperback</a><br>
	       	Here is a draft of a hymnal intended for my local parish.  For all those who have expressed an interest, here is a way to get a copy.  Buy a few and have a sing-a-long to start each day.  This book is mostly just the words.  No Catholic hymnbook is complete without Gregorian chant and here you'll find Rorate Caeli, Veni Creator, the simple Te Deum and a few more as well as a very comprehensive selection from the Kyriale.  Also about three litanies in Latin with chant and English words plus three more litanies just in English.  Two novena prayers plus the indulgenced prayers to the Sacred Heart of Jesus.  This is a big book and to make it easier to navigate the right hand page edge is marked with 'thumbs' or tabs.  Plus an index in the back.  The books starts off with the Order of the Mass in Latin and English - Extraordinary Form.</li>
	<li><img src="lent.jpg" align="right"><strong>Lenten Kyriale</strong><br>
	<a href="http://www.lulu.com/shop/veronica-brandt/lenten-kyriale/paperback/product-292865.html" target="_blank">Paperback</a><br>
	       	The gregorian chant for Masses in Lent (masses 17 &amp; 18, credo 4) plus a selection of hymns and antiphons.  Everything is latin (apart from the Kyrie) with english translation.</li>
</ul>

<h3>Latin Books</h3>
<p>The Latin Language is very prevalent in Liturgical Music. It makes sense to learn some of the language so that one can Pray with Understanding (Psallite Sapienter)</p>
<ul><li><img src="caswall.jpg" align="right"><strong>Catholic's Latin Instructor</strong><br>
		<a href="http://www.lulu.com/shop/edward-caswall/the-catholics-latin-instructor/paperback/product-18844755.html" target="_blank">Paperback</a><br>
		<a href="https://brandt.id.au/latin">Website</a> <br>
	       	This book aims to give enough Latin to understand the principal Church Offices and Devotions.  The first part covers the Latin useful to choir members, altar servers and for anyone attending Mass and Benediction.  The second part goes into a bit more depth to bring the student to a level where he can translate Latin from the Mass and Office with the aid of the Little Dictionary in the back of the book.  A Short Latin Grammar is included.<br>
		The author is a renowned translator and poet, most famous for his hymns including Jesus the Very Thought of Thee, When Morning Gilds the Skies, Glory Be to Jesus, See Amid the Winter Snow and many others.  In this book, however, the translations are strictly word-for-word literal.<br>
		The scans came from <a href="https://archive.org/details/latininstructor00caswuoft">the University of Toronto via the internet archive</a> and straightened for printing.  282 pages.</li>
	<li><img src="benjamin.jpg" align="right"><strong>Elements of Latin by Benjamin D'Ooge</strong><br>
		<a href="">Spiral Bound Textbook</a> and <a href="">Paperback Answer Key</a><br>
	Dr. D'Ooge first wrote "Latin for Beginners" in 1909, then this present volume in 1921, retaining everything that proved useful in the old text and dividing the work into shorter lessons. There are lots of exercises - an answer key is also available here on Lulu or at archive.org. Appendices provide revision tasks, a play, several short stories and songs (3 in 4 part harmony - Adeste Fideles, Integer Vitae and Gaudeamus Igitur)  The thorough cross referencing makes it a good book to refer to for specific grammatical explanations. A few days have been spent tidying up the book to print beautifully. You can find it on archive.org and print at home but 462 pages is a lot! There is a girl called Lesbia in the book - a good lesson in reclaiming our language. Coil bound to make it easy to open up and study. Lots of indices - dictionaries of about 500 words both Latin-English and English-Latin. Lots of illustrations - artwork and artefacts to give a feel for Ancient Rome.
	<br>
	The scans came from <a href="https://archive.org/details/cu31924031169273/">Cornell University via the Internet Archive</a> with funding from Microsoft.</li>
</ul>

<h3>English Books</h3>

<ul>
<li>I prepared a reprint of <a href="https://www.lulu.com/en/us/shop/martin-joseph-kerney/an-abridgement-of-murrays-grammar/paperback/product-18kgg26m.html">An Abridgement of Murray's Grammar</a> by Martin Joseph Kerney, 1819-1861. He also compiled books of history and a book of arithmetic too. He seems to have come from Baltimore, Maryland. This Grammar is fairly stodgy, but you could have lots of fun with the Exercises - <i>For Correction</i>. It doesn't have an answer key, but seeing modern English is so much more relaxed, it may be better that way.
<br>
The scans came from <a href="https://archive.org/details/c2abridgementofm00murruoft/">The University of Western Ontario via the Internet Archive</a> with funding from the Ontario Council of University Libraries and Member Libraries.
</li>
<li><a href="https://www.lulu.com/en/us/shop/benedict-xiv/roman-martyrology/paperback/product-1pezz9q7.html">The Roman Martyrology 1916</a> comes from scans from <a href="https://archive.org/details/romanmartyrology00cathuoft/">the University of Toronto</a> via the Internet Archive.
</li>
<li><a href="">Fabiola</a> comes from scans from <a href="https://archive.org/details/fabiolaorchurcho00wise/">the University of North Carolina at Chapel Hill, via the Internet Archive</a>.
</li>
</ul>

<hr>

<p>
You should be able to find more at <a href="https://lulu.com/spotlight/brandt">lulu.com/spotlight/brandt</a>.</p>

<h2>Library Cat</h2>

<p>
My personal actual physical book library is partly catalogued using Library Thing and available to browse <a href="https://www.librarycat.org/lib/veromary">Via Library Cat</a>. Drop me a line if you'd like to borrow a book.
</p>


