---
title: Brandt Garb Guide
author: veronica
comments: true
image: medday400.jpg
date: 2007-09-14
categories: ["Photos","Craft"]
---

<p>(formerly Veronica's Foray into Early Medieval Costume)</p>

<p>This web site came about as an attempt to record what I was making
for the Holy Cross Festival - an annual celebration of the Maternal Heart
of Mary Church, Lewisham.  </p>

<h2>Links to other useful websites</h2>

<p></p>

<ul>
<li><a href="http://www.maternalheart.org">Maternal Heart of Mary, Lewisham</a>
</li>
<li><a href="http://www.theweebsite.com/garb/index.html">Tempus Peregrinator's Sewing & Garb Accessories Site</a></li>
<li><a href="http://www.florilegium.org">Stefan's Florilegium</a></li>
<li><a href="http://cunnan.sca.org.au/wiki/T-tunic">T-tunics</a></li>
<li><a href="http://www.virtue.to/articles/">Cynthia Virtue's garb pages</a></li>
</ul>

<h3>2007</h3>

<p>Unfortunately there was sickness in the family in 2007 so we couldn't 
all make it.  Chris and Peter stayed home.  This was a shame since
I'd made a new sleeveless jacket for Chris with fur trim.
</p>

<h3>2006 - Brandts reign as nobles</h3>

<p>New for 2006: Peter wore a dark blue tunic edged with bands of lighter blue.  He had 
two hats to chose from during the day, one of red velvet with a tablet-woven 
band the other of green felt with a peugeot badge.  Veronica wore  
a new overdress made along the lines of a <a href="http://www.james-gang.org/greydove/docs/houpburg.pdf">burgundian houppelande</a>. 
Her hair was covered by a new hand-made hairnet netted from size 4 white crochet cotton with silk veil and 
chinstrap from 2003.  Patrick wore an oversize tunic that should fit better
in the years ahead.  His cloak was a half-circle of a synthetic suede-like
fabric fastened with a button and loop.  Chris had a new hat of felt, velvet
and gold cord.  Making hats is fun.</p>


<img src="m06pere.jpg" width="117" height="315" border="0" alt="Peter">

<img src="m06mum.jpg" width="140" height="310" border="0" alt="Veronica with the Anthony">
<img src="m06pat.jpg" width="118" height="261" border="0" alt="Patrick conducting the choir">
<img src="m06chris.jpg" width="190" height="287" border="0" alt="Chris running">

<img src="m06pamum.jpg" width="284" height="218" border="0" alt="Patrick, Anthony and Mum.">

<img src="m06peugeot.jpg" width="164" height="169" border="0" alt="Daddy of Peugeot">

<p>My veil stayed put really well this year.  My hair was in two braids
curled up Princess Leia style (except my hair is not that long).  The hair
net held on well - the bobby pins seemed superfluous.  The circlet
made from coathanger wire covered with a blue braid held the veil down well.
There were no pins and there was a good breeze.  I used Giraude's helpful
pdf document available from his
<a href="http://wedcraft.com/netting.html">Netting Page</a> for making 
the hairnet.</p>

<h3>Photos from 2005</h3>


<p>Here they are at long last, not as detailed as I would have liked.
Patrick, Christopher and I all had new linen tunics.  Peter's tunic was ripped
in the wash last year and needed mending.
Patrick wore a green circle cape, Peter wore a big rectangle of blue wool,
I wore a hooded circle cape made of an unknown fabric (greeny blue and nubbly).
Anthony had a new flat cap (I hadn't intended it to fit him, but it worked
out too small for anyone else) and the fancy tunic that was a little too small for 
Patrick back in 2003.
Chris wore the same red hood as
last year.
Peter's cloak is held together by a badge bearing the inscription 
'Library Assistant'.</p>
<img src="garb05a.jpg" width="263" height="197" border="0" alt="Anthony with a flat cap">
<img src="garb05food.jpg" width="257" height="200" border="0" alt="Patrick using a sword to eat Alex's lunch">
<img src="garb05dad.jpg" width="150" height="207" border="0" alt="Peter and Christopher taking up the collection at Mass">
<img src="garb05mum.jpg" width="116" height="160" border="0" alt="Veronica in hooded cape">


<h3>Photos from 2004</h3>

<p>Patrick's wearing something like a bathmat.  I took it along,
who knows why, and it turned out colder than expected so it made a
small cape.  The blue hat was a bit of an experiment.
You can just see the yellow braid on Chris' collar.  At the front it
has a loop and knot kind of like a frog closure.</p>

<img src="m05a.jpg" border="0" alt="Veronica and Peter" width=250 height=209>
<img src="m05b.jpg" border="0" alt="Patrick" width=150 height=328>
<img src="m05c.jpg" border="0" alt="Christopher under the hood" width=215 height=287>
<img src="m05d.jpg" border="0" alt="Ye olde inflatable pony" width=239 height=319>



<h3>The photo from 2003</h3>

<p>The first festival and my first attempts at medieval clothes.</p>

<img src="medday.jpg" width=346 height=259>


