---
title: Mastitis
author: veronica
url: /mastitis.html
comments: true
---
<p>Contents:</p>
<ul>
<li><a href="mastitis.html#bd">Blocked Ducts</a></li>
<li><a href="mastitis.html#m">Mastitis</a></li>
<li><a href="mastitis.html#ba">Breast Abscess</a></li>
<li><a href="mastitis.html#fna">Fine Needle Aspiration</a></li>
<li><a href="mastitis.html#iad">Incision and Drainage</a></li>
<li><a href="mastitis.html#chris">The Next Baby</a></li>
<li><a href="mastitis.html#pump">Breast Pumps</a></li>
<li><a href="mastitis.html#ref">References</a></li>
</ul>

<p>Best article on breast abscess: <a href="https://www.breastfeeding.asn.au/bf-info/common-concerns%E2%80%93mum/breast-abscess">at breastfeeding.asn.au</a></p>
<p>Another account of breast abscess is <a
href="https://kellymom.com/bf/concerns/mother/breast-abscess/">
here on Kelly Mom</a></p>

<p>I spent most of November 2001 in hospitals with my 6 week old
baby. By the end of it I discovered that it could have been
averted. So this page is here just in case someone else could be
spared the anguish of being sick and helpless while trying to care
for a baby in a busy hospital. Also to show that you can continue
to breast feed even with a breast abscess the size of a cricket
ball.</p>
<p>It must be said that most cases of Mastitis do clear up with
minimal treatment. Also, I am not a doctor, or any sort of medico.
My training is in Electrical Engineering. This information comes
from experience and as far as I know it is accurate. If you have
any comments I can be reached at <a href="mailto:veronica@brandt.id.au">veronica@brandt.id.au</a>.</p>
<a name="bd"></a>
<h3>Blocked Ducts</h3>
<p>It all started with blocked milk ducts. Milk ducts are the
little passage ways from the glands that secrete milk to the
nipple. If they get blocked then the milk banks up behind the
blockage and gets thicker. This makes it harder to unblock, but not
impossible.</p>
<p>You can spot a blocked duct by feel. Its a lump somewhere in the
breast, sometimes right on the edge of the breast, sometimes up
near the arm pit. Sometimes the skin over it looks a bit red.
Sometimes it gets sore.</p>
<p>To unblock a duct there quite a few things to try.</p>
<ol>
<li>Feed the baby with the baby's chin pointing towards the
blockage.</li>
<li>Start each feed on the affected breast so the baby sucks more
strongly at the blockage. It might stimulate your milk supply more
on that side, but you can balance it back out once the lump is
gone.</li>
<li>Massage the lump gently before and during feeding.</li>
<li>Use hot packs to warm the lump before a feed.</li>
<li>Use cold packs or cabbage leaves after a feed to slow the
production of milk.</li>
<li>Express off any excess milk after a feed, either by hand or
with a <a href="mastitis.html#pump">breast pump</a>. NOTE: the baby is the best
breast pump, now is not the time to stop breast feeding. You could
try expressing before a feed so the pump takes of the loose milk
and the baby is left with the stubborn milk.</li>
<li>Become a healthy eater. Lot's of fruit and vegies. Plenty of
water. Build up your immune system with Vitamin C. A glass of water
at each feed is good, especially if there's someone who'll get it
for you.</li>
<li>Try Lecithin supplements, start about 6 weeks before the baby's
due. You can get tablets to swallow or granules to sprinkle on your
muesli. This has been discredited, but maybe has a placebo effect.</li>
<li>Keep clean. Wash your hands with soap and water before feeding
and all those other times you're supposed to wash. It might not
help unblock the duct but it will help prevent mastitis.</li>
</ol>
It's worth contacting a lactation consultant if lumps are being
persistent. They are trained in attaching the baby in different
positions to help move the milk along.<br>
<br>
<a name="m"></a>
<h3>Mastitis</h3>
<p>Mastitis is inflammation of the breast.  It's not necessarily infective.</p>
<p>If the milk sits around for too long there is an increased risk
of infection. Look out for high fever and red
streaks on the breast.  Your doctor might prescribe Flucloxacillin or Keflex (or
cephalexin). Remember to keep trying to clear the
lump.</p>
<p>You may think, I'll just sit it out for a while and see if it
goes away, its better not to use antibiotics for every little
thing. That's what I thought too. Trouble is that's not what the
infection thought. Mastitis is an incorrigible rogue of an
infection. A double course is recommended because the bugs often
come back otherwise.</p>
<p>You see, its not your average, everyday scratch that's got a bit
dirty. The bugs are sitting in a pool of milk - excellent nutrition
for bugs as well as for your baby. The milk is not refrigerated,
rather its at a perfect temperature for bugs as well as for your
baby. To cap it all your breasts are not on your arms or your legs,
they're right up close to all the major organs. That's why the
fever is often sudden and very high. Don't delay, see a doctor
today!</p>
<p>Also, its worth bearing in mind that most doctors are not well
informed and up to date on mastitis. Decades ago it was thought
that infected milk was dangerous for babies, so the baby was put on
the bottle and milk was expressed and discarded. Since then they've
found that babies can cope with milk, even with bugs. My baby coped
handsomely, though his motions were a bit strange. I thought they
were smoky bacon flavoured for a while, most people people thought
I was crazy (I was a bit crazy). Breast feeding is the best way to clear the milk
ducts, so don't wean yet!</p>
<p>As a historical note, mastitis used to be known as Milk Fever
and women often died of it. Don't worry, now antibiotics are saving
lives all over the place. Also, I found it interesting that cows
get mastitis too. The vet has to give them local injections of
antibiotics in the udder.</p>
<a name="ba"></a>
<h3>Breast Abscess</h3>
<p>If the infection goes untreated for too long there is a risk of
breast abscess. If the blockage is not complete you may find pus
coming out of the nipple. Pus is yellowy green and also can be very
painful to force out of the nipple. That means its obviously an
abscess.</p>
<p>No need to stop breastfeeding.</p>
<p>The other way to tell if its an abscess is by ultrasound. The
ultrasonic waves can also help to loosen the blockage so get one if
you can. In my case the image they got was inconclusive. If this is
the case with you ask for a biopsy. It will show for certain
whether its an abscess or just inflamed tissue and it may ease the
pain.</p>
<p>If its an abscess there's a remote chance it will resolve
itself, but realistically there are two options: incision and
drainage or fine needle aspiration. Small abscesses (20mL or less)
have been successfully treated just by fine needle aspiration.
Larger abscesses need the full operation.</p>
<h3>Cellulitis, Nipple Damage, Engorgement, Vasospasms and other
unpleasant things</h3>
<p>If a breast abscess goes unrelieved for too long then it can
cause all sorts of trouble. The abscess keeps getting bigger
because milk is still being produced and is still collecting in the
cavity. Also the pressure from the swollen duct can cause other
ducts to block up and because the infection is still around - even
when you're on antibiotics - they can quickly become infected and
make another abscess.</p>
<p>Engorgement is usually referring to the swelling that you get
when you first start breastfeeding. I guess the swelling from an
abscess is not quite the same, but the effects are. It is jolly
difficult to attach a baby to an engorged breast. The baby has to
have a wide open mouth and take as much of the areola as possible.
Good help is important here. You can easily get demoralised and as
long as the baby is getting something to drink it doesn't matter if
it hurts like blazes and the nipple is bleeding again. You just
want to sleep.</p>
<p>Nevertheless it is important to attach the baby correctly.
Bleeding nipples are just the tip of the iceberg. Detached nipples
are much worse. The best way is to relieve the pressure by draining
the lump. Even just using a syringe.</p>
<p>Cellulitis is damage to the cell structure of the skin over the
abscess. It can happen in other abscesses too. The skin thickens
and gets leathery. This can make it very difficult to attach the
baby if the areola is affected. The areola needs to be supple so
the baby can draw back the nipple to the back of the mouth.
Cellulitis is treated by intravenous antibiotics.</p>
<p>It is possible to breastfeed a baby with canulas in your arms.
Canulas are the little needles they leave in you arms when you're
on IV medication. You need to experiment with different positions
to avoid knocking the canulas. The other thing is to keep the baby
from pulling at them. Carrying the baby, changing nappies are also
difficult with canulas. Its good to find someone to help you who
can stay with you as much as possible. Draining the lump promptly
helps avoid long periods of trying to look after the baby while
you're disabled by canulas.</p>
<p>Vasospasms can occur independently from abscesses and such, but
I found they were only a problem when the lump was large.
Vasospasms are related to bad circulation. The blood flow to the
nipple stops for some reason and it goes white and kind of throbs
for a while too. Treatment is usually keeping the nipple warm,
especially just after a feed. There are special lambs wool nipple
warmers available from Mothers Direct through the <a href=
"mastitis.html#ref">Australian Breastfeeding Association</a>. I haven't tried
them, but they look like a good idea.</p>
<a name="fna"></a>
<h3>Fine Needle Aspiration</h3>
<p>This is a simple little operation any doctor can do. The doctor
just uses a syringe to draw out whatever's collected in the cavity.
In treating abscesses you might go for aspiration every couple of
days or even daily. You'd want to discuss this with a breast
surgeon. You can also have it done under ultrasound, but this isn't
necessary (but it is fun watching the cavity collapse). Also
another thing to watch is you can easily get scratched inside which
makes the next lot of liquid to be removed look a bit brown because
of the left over blood. Its not too serious (or serous hee, hee,
silly joke, don't worry, been hanging around hospitals too long)
just don't panic, its not necessarily a returned infection.</p>
<h3>Incision and Drainage</h3>
<p>This is also a simple operation. Surgeons are familiar with
incising and draining abscesses. Breast abscesses need just a
little more care afterwards. If the surgeon tells you that there's
a risk of milk fistula and you'll have to stop breast feeding
beware! You <i>want</i> the surgeon to make a milk fistula. A milk
fistula is where milk keeps leaking out of a hole in the breast. If
the milk doesn't leak out it will just pool inside making a big
milk bubble. You <i>can</i> keep breastfeeding. You might
even consider going to another surgeon - preferrably one who
specialises in breasts.</p>
<p>The operation goes something like this:</p>
<ol>
<li>A general anaesthetic should be administered with special care
that no drugs will be used that may cross the breast milk and
affect the baby.</li>
<li>An incision should be made avoiding the areola, preferably set
back a little to allow breastfeeding while the wound heals.</li>
<li>The wound should be thoroughly swabbed and flushed out to get
rid of all the infection.</li>
<li>A small tubular drain, like a yates drain or a penrose drain,
should be put in during the operation.</li>
<li>The tubular drain should be replaced by a nurse with saline
gauze wick after the general anaesthetic has worn off.</li>
</ol>
Not all surgeons know about this, so its a good idea to talk it
through first.<br>
<br>
<p>The key thing is to let the wound drain for a few weeks after
the operation. The wound needs to be packed with gauze, not seaweed
sticks. The difference with breast abscesses is that there's milk
leaking into the cavity all the time. Eventually these ducts will
stop producing milk but until then you need to keep the milk
flowing out of the breast. If the wound isn't packed the skin will
heal and the cavity will keep filling up with milk, making it
swollen like it was before the operation.</p>
<p>Aside: A cavity filled with milk is known as a galactocoele. It
isn't dangerous so much as inconvenient. If it gets big enough it
will make breastfeeding difficult. Aspiration can ease the
discomfort. But back to the topic.</p>
<p>While the wound is healing you can expect milk to flow out of
the wound at each feed. The milk keeps the wound wonderfully clean
and promotes healing too. You can keep a pad over the wound to soak
up the milk, but remember to keep changing it after every feed to
prevent infection, just like you would with a regular nursing pad.
Each day the packing will need to be changed, each time a little
less will be put in. Hopefully you'll have a nurse to visit you
every day to change the dressing, otherwise it means a trip to the
doctor every day. I did get my husband to have a go towards the end
when the gauze ribbon would fall out because it was so short, and
he did a good job.</p>
<p>Hopefully within a fortnight or so the wound will stop leaking
milk and will have become so small that the packing keeps falling
out. Congratulations! You've weathered the storm and now you're
slightly scarred but still breastfeeding.</p>
<h3>The Next Baby</h3>
<a name="chris" id="chris"></a>
<p>One question that no one could give me a sure answer for was,
what will feeding the next baby be like. Now, two years on, I have
a five month old, fully breast-fed, big baby boy so I can tell you.
I had grazed nipples again - this time nipple shields were great. I
did have mastitis, but it was on the other side, and a course of
antibiotics cleared it up. I was also taking lecithin, and it was
only when I stopped for a while that I got the mastitis. I've
stopped taking it again and I haven't had any trouble. I have been
able to feed Christopher normally on both sides, which makes life
much easier. The scarring has softened, but still noticeable. The
milk ducts where the abscess was haven't regenerated, so I seem to
have less milk on that side.</p>
<hr>
<a name="pump" id="pump"></a>
<h3>Breast Pumps</h3>
<p>There are several different kinds of breast pumps available.
<a href="mastitis.html#ref">The Australian Breastfeeding Association</a> hires
out Medela and Ameda pumps. I have the basic Medela hand pump
which is the same sort they use in hospitals, at least in my area.
This hand pump can be attached to an electric motor which is
available for hire from some chemists or through groups like the
Australian Breastfeeding Association.</p>
<p>The first breast pump I bought was awful. It helped crack my
nipples and prevent them from healing. In hospital I found someone
had had a similar experience with a similar pump. So I don't
recommend the little battery operated units. They work by creating
a vacuum with a little fan, which is kind of like sticking the hose
of a vacuum cleaner to your breast. It was also more expensive than
the Medela hand pump.</p>
<p>One good thing about the Medela hand pump that I haven't seen
written down anywhere is that you don't have to pump it all by
yourself. The piston can be attached to the breast cup by a tube
which means some generous soul can sit next to you and pump for
you. This worked well when I was trying to combine expressing milk
with a hot relaxing shower. It would be ideal for sitting in a hot
bath.</p>
<a name="ref" id="ref"></a>
<h3>References</h3>
<ul>
<li><a href="http://www.breastfeeding.asn.au">Australian
Breastfeeding Association</a></li>
<li>The Lactation Unit at King George V Hospital, Camperdown</li>
<li><a href=
"http://www.swsahs.nsw.gov.au/karitane">Karitane</a></li>
<li>Tresillian</li>
</ul>

