---
layout: article
author: veronica
title: Peter's Minis
permalink: mini.html
comments: true
image: felsity400.jpg
categories: ["Photos"]
date: 2011-09-18
---


<p>
Peter has more than a passing interest in these little cars.  
First there was Alfalfa, followed by Small (short for Very Small Car).  
Eric the Half a Mini joined Small as did Alexander Mini and Augustus Mini.  
Next came Viessy who was named after Very Small Car 
since he used much of the internals from Small.  
Some of the other internals came from Augustus and Alexander.  
Small had BOUNCE numberplates, which Viessy inherited.  
The BOUNCE numberplates had to go when Peter and Viessy 
moved up to Queensland.  
All these were clubman minis.  
Alfalfa and Small had Tiggers painted on them.
</p>

<img src="alfalfa.jpg" alt="Alfalfa" width=249 height=238>

<img src="tigger.jpg" alt="Tigger" width=261 height=198>

<img src="small.jpg" alt="Small" width=297 height=226>

<img src="alexander.jpg" alt="Alexander" width=301 height=180>

<img src="viessy.jpg" alt="Viessy" width=242 height=239>

<p>
In 2007 he acquired his second 1275LS </p>

<img src="felsity.jpg" alt="Felicity">

<p>

Here's a theme for <a href="http://xpenguins.seul.org">xpenguins</a> : <a href="Minis.tar.gz">Minis.tar.gz</a> a cute desktop toy for Linux.


