---
title: Pilgrims' Primer
author: veronica
date: 2007-03-15
categories: ["Music"]
url: primer.html
---

<p>
This is possibly the oldest page here - it had been hidden for many years, only to come to light in the move from github to gitlab.
</p>

<img src="/music/crex.png" width="118" height="153" border="0" alt="Rexxy" align="center">
<p style="font-weight: bold">Christus Rex Primer:</p>
<p><a href="/primer.html#downloads">Downloads</a></p>
<p><a href="/primer.html#structure">Structure of the Primer</a></p>
<p><a href="/primer.html#todo">To Do</a></p>
<p><a href="/primer.html#changelog">Changelog</a></p>
<img src="/music/pilgrim.png" width="109" height="155" border="0" alt="Pilgrim">
<p>Back to:</p>
<p><a href="/music/index.html">Sheet Music Collection</a></p>
<p><a href="http://www.brandt.id.au">The Brandt Family</a></p>
<p> </p>

<h1>Pilgrim's Primer 2007</h1>

<a name="downloads"><h2>Downloads</h2></a>

<p>Here are the editions I have available for download.
The lyrics for Help of Christians by James McAuley are protected
by copyright, so I have removed them from the pdfs below. Also
Fr. Quinn's Sing All Creation.  These are easily reinserted for 
printing purposes once dues are paid to the relevant copyright holders.</p>

<ul>
<li>2004 Pilgrim's Primer: <a href="/music/primer04.pdf">primer04.pdf</a> 2.9Mb 
This is the one printed with red card covers with a gold stencilled Chi Rho crowned.</li>
<li>2005 Pilgrim's Primer: not available - my fault for overwriting the files.  
This is the one
printed with green card covers with Rexxy the anorexic heraldic lion and reprinted 
in 2006.</li>
<li>2006 Pilgrim's Primer: <a href="/music/primer06.pdf">primer06.pdf</a> 5.6Mb 
This is the revision that hasn't been printed yet.  It is basically the 2005
edition with typos ruthlessly hunted down and exterminated.  Also with a
suitably medieval dropcap font called King Xmas from Harolds Fonts.
Perhaps a tad illegible at times, but other fonts can be substituted.</li>
</ul>

<a name="structure">
<h2>Structure of the Primer</h2></a>

<p>This is a major change to implement.  Rearranging the 
book according to Friday, Saturday, Sunday chapters makes the
Mass for Sts Simon and Jude an orphan chapter.
Another thought is to add more details specific to the Christus
Rex Pilgrimage - but as I've never been this may be better done by 
someone else.</p>

<table>
<tr>
<th>Original</th><th>2004</th><th>2005</th><th>Proposed</th></tr>
<tr>
  <td>I don't have a copy of the original at the moment.</td>
  <td>Preface, rules, luggage, first aid, banners, Map</td>
  <td>Preface by Fr. Wong, Info, Plenary Indulgence, Map </td>
  <td>Preface by Fr. Wong, Contents, Introduction</td>
</tr>
<tr>
  <td>?</td>
  <td>Friday: Blessing of pilgrims, Mass of the Holy Cross</td>
  <td>Prayer: Blessing of pilgrims, Daily Prayers, Rosary, Penance, 
  Prayers for the Dead, Benediction, Arrival at the Cathedral</td>
  <td>Friday: </td>
</tr>
<tr>
  <td></td>
  <td>Saturday: Mass of Our Lady, Prayers for the Dead</td>
  <td>Propers: Votive masses of the Holy Cross and BVM, Mass of
  Sts Simon and Jude, Mass of Christ the King</td>
  <td>Saturday: </td>
</tr>
<tr>
  <td></td>
  <td>Sunday: Benediction, Arrival at the Cathedral, Mass of Christ the King</td>
  <td></td>
  <td>Sunday: </td>
</tr>
<tr>
	<td></td>
	<td>Mass</td>
	<td>Mass</td>
	<td>Mass</td>
</tr>
<tr>
	<td></td>
	<td>Prayers: Angelus, Grace, Rosary, Penance</td>
	<td></td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td>Ordinaries</td>
	<td>Kyriale</td>
	<td></td>
</tr>
<tr>
	<td></td>
	<td>Music</td>
	<td>Music</td>
	<td></td>
</tr>
</table>


<a name="todo"><h2>To Do</h2></a>


<p>Once we know how many copies (300?):</p>

<ul>
<li>Permission for Fr. James Quinn SJ for Sing all Creation </li>

<li>Permission for Help of Christians words.  Mr. Connoly kindly gives permission for the music.</li>
</ul>

<p></p>

<a name="changelog">
<h2>Changelog</h2></a>

<p>March 2007: took out relevant copyright hymns and fixed up the
downloadable editions.  Still looking at how to bundle up source
files.  Still no news on anyone to take over the books.
The drop caps are in Harold's King Xmas in the 2006 primer.</p>

<p>February 2007: While making up the new <a href="/music/hymnbook/index.html">New 
Book of Old Hymns</a> I thought I'd better link this page to the 
main music page.  This is the biggest work I've tackled and its not 
quite satisfactorily finished yet.  The problem with making this
page public is the permission for Help of Christians and
Sing All Creation.</p>

<p>July 2006: Found a fancy drop cap font 
<a href="http://www.haroldsfonts.com/kingxmas.html">King Xmas</a>
like the old lombard style initials so richly illuminated in
medieval manuscripts.  Similar to that of the Liber Usualis.
I haven't added this version to the web page yet, each change takes
a good hour to upload during the wee small hours.  Yes, I'm still 
on dial-up, no, I don't plan to change.  I'm also partial
to Paul Lloyd's font Priory
that I've used in the <a href="/music/hymnbook/index.html">New 
Book of Old Hymns</a>.  There's two Goudy Lombardic fonts
that could be used, but one is shareware and the other is Adobe.
</p>

<p>June 2006: Stressed out about juggling this with family commitments and quit this.</p>

<p>May 2006: A professional proof reader went through the book and his 
ammendments have been gone through.  Karolina's copy of the primer arrived and 
her annotations are being applied.  Many more typos in the chant of the
Kyriale were systematically hunted down and exterminated.</p>

<p>Fixed many more typos and the algorithms for hyphenation and line breaking (sounds impressive, doesn't it?)</p>

<p>17th March 2006: Ammended typos from Mr. Lyon's draft copy.</p>

<p>11th Oct 2005: More page breaking - found that most of the hymns section
and onward had been set to small font, so changed that back, 
page breaking as I went.  I think it's finally ready.</p>

<p>8th Oct 2005: Typed up Litany St Joseph, Page breaking through the Hymns section.
Getting the polyphony to lie on facing pages, added Psalm 102 for
after Confession(to help Day of Wrath go on facing pages).</p>

<p>6th Oct 2005: Rearranged entire Music chapter into something like Alphabetical order.  Maybe keep rounds separate. 
Going back to original primer divisions : Litanies, Motets, Hymns (with chant rolled in all
in A-Z order), Rounds, Songs.  Fixed up the Litany of Saints.  
More page breaking.  Extra verses for Communios.  More Gloria Patris for the 
Propers.  More of Hugh Henry's music in
(Lauda Jerusalem, Laudate Nomen, Glory be to Jesus, Anima Christi, Mozart's
Ave Verum, O Sanctissima)
</p>
<p>5th Oct 2005: Added in Fr. Wong's preface.  
Started page breaking the Prayer section.
</p>

<p>22nd Sept 2005: Added Mass XI (Orbis Factor), Added Antiphon and Psalm to the Blessing of Pilgrims Staves and scrips
Used a slightly larger font for the Consecration at the beginning of the pilgrimage
and the hymn Holy God.  Changed pictures around - added some new ones.  
Added in Hugh Henry's four part Dies Irae.
</p>

<p>5th Sept 2005: Lots of changes to the Order of the Mass, 
changed typeface from Computer Modern Roman to Times,
</p>

<p>1st Sept 2005: Re ordered the booklet, moving away from FRi, Sat, Sun.</p>


