---
layout: article
author: veronica
title: Site Index
permalink: siteindex.html
comments: true
tags: ["index"] 
---


<p>
This web site began in 2001 when it seemed like a good idea at the time.
Pages have accumulated as interests came and went.  Here is a list to
try to make some order out of the collection.
</p>

<ol>
	<li><a href="/books/">BOOKS!</a></li>
<li>Veronica's <a href="/music/index.html">Sheet Music Collection</a>
<ul><li><a href="/music/hymnbook/index.html">A New Book of Old Hymns</a></li>
<li><a href="/music/epiphany.html">Solemn Proclamation of Moveable Feasts</a></li>
<li><a href="/scriptorium/index.html">Old Gregorian Chant Page</a></li>
<li><a href="/opustex.html"> Opustex </a> installation and usage.</li>
</ul></li>
<li><a href="/mini.html">Peter's Minis</a> - </li>
<li><a href="/photos/index.html">Family photos</a></li>
<li><a href="/categories/education/">Educational articles</a> 
</li>
   <li><a href="/garb/">Brandt Family Garb Guide</a></li>
<li><a href="/thurible.html">Crochet a Thurible</a> -- a safety
thurible for the aspiring thurifer.</li>
<li><a href="/pastores.html">Knit some shepherds</a> inspired by
Jean Greenhowe's cute dolls.</li>
<li> <a href="/opustex.html"> Opustex </a> installation and usage. </li>

<li><a href="/mastitis.html">Mastitis and all that</a> my inexpert advice on
mastitis and its complications.</li>

<li><a href="/fabiola/">Fabiola</a> - the first few chapters online.
Also available as  <a href="/fabiola/fabiolahtml.zip">fabiolahtml.zip</a>.
</li>
</ol>


