---
title: Crochet a Thurible
author: veronica
url: /thurible.html
comments: true
image: thurible400.jpg
categories: ["Craft"]
date: 2004-05-26
author: veronica
---

<!--Creative Commons License-->
<a rel="license" href=
"http://creativecommons.org/licenses/by-sa/2.5/"><img alt=
"Creative Commons License" border="0" src=
"http://creativecommons.org/images/public/somerights20.png"></a><br>

This work is licensed under a <a rel="license" href=
"http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons
Attribution-ShareAlike2.5 License</a>. 
<!--/Creative Commons License-->
<!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                        <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
                </Work>
                <License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction"/><permits rdf:resource="http://web.resource.org/cc/Distribution"/><requires rdf:resource="http://web.resource.org/cc/Notice"/><requires rdf:resource="http://web.resource.org/cc/Attribution"/><permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/><requires rdf:resource="http://web.resource.org/cc/ShareAlike"/></License></rdf:RDF> -->
<p><br>
<img src="/thurible.jpg" alt="Christopher with thurible"
align="right" width="300" height="400"></p>
<p>Have you a toddler aspiring to be an altar-server one day?
Here's a very safe thurible that can be swung around without
damaging furniture or setting things on fire.</p>
<p>Note: this pattern uses Australian/UK terminology. US crochet
workers may like to substitute double crochet for what I call
treble.</p>
<h2><a name="materials" id="materials">Materials:</a></h2>
<p>Yellow-Gold 8 ply (DK) knitting yarn. 4.0mm crochet hook.
Stuffing.</p>
<h2><a name="method" id="method">To make:</a></h2>
<p>Work 3 ch and join into a loop with a sl st. 3 ch, 15 tr into
the loop. For this and all subsequent rounds close with a sl
st.</p>
<p>3 ch then 2 tr into each tr.</p>
<p>3 ch then * 1 tr into next tr then 2 tr into next tr, repeat
from * to end.</p>
<p>3 ch then 1 tr into each tr to end. Repeat last row twice.</p>
<p>1 dc into each tr to end. Repeat last row once.</p>
<p>3 ch, * 1 tr into each dc 3 times, miss next dc, repeat from *
to end.</p>
<p style="margin-left:5em">Note: missing stitches causes holes. To
avoid this start making a treble but stop just before pulling the
last loop through. Then make a double into the next stitch and pull
the loop right through all the loops left on your hook.</p>
<p>1 dc into each tr. Repeat last two rows twice.</p>
<p>Stuff the ball now while there's still a gap.</p>
<p>1 tr into every second dc to end.</p>
<p>1 dc into every second tr to end.</p>
<p>This should leave only the smallest gap which can be closed with
a sl st.</p>
<p>Make a long chain to the desired length, then the same length
again and join to the ball at the two rows of dc. Work a line of sc
around the ball to a point about a third of the way around, then
start another long chain. At the top make a loop for a handle by
joining to the first chain with a sl st. Keep chaining all the way
back down to the ball and join the chain to the row of dc at a
point making the chains equally spaced around the ball. You might
finish with some decorative chain stitch around the ball to
simulate the filigree work you see on some fancy thuribles.</p>
<p>A little bell might be sewn on the bottom to make it sound a bit
more like a real thurible.</p>
<div align="right">by Veronica Brandt</div>

