---
title: Exercise 5
weight: 5
---


<p>Word list:</p>
<ol>
<li>quae coeli pandis ostium.</li>
<li>da robur.</li>
<li>fer auxilium.</li>
<li>qui vitam sine termino donet.</li>
<li>audi nos, exaudi nos.</li>
<li>qui tollis peccata mundi.</li>
<li>tantum Sacramentum veneremur.</li>
<li>praestet&nbsp;fides supplementum.</li>
<li>panem de coelo&nbsp;praestitisti.</li>
<li>omne delectamentum&nbsp;habentem.</li>
<li>qui memoriam reliquisti.</li>
<li>tribue ita nos mysteria venerari.</li>
<li>ut redemptionis tuae fructum&nbsp;sentiamus.</li>
<li>adoremus sanctissimum Sacramentum.</li>
<li>laudate Dominum.</li>
<li>laudate eum.</li>
</ol>
<p>The word-for-word translation:</p>
<p>1. quae <em><span style="color: #800000;">who</span></em>&nbsp;pandis <em><span style="color: #800000;">openest</span></em> ostium&nbsp;<span style="color: #800000;"><em>the gate</em></span>&nbsp;coeli <span style="color: #800000;"><em>of heaven.</em></span>&nbsp;2. da <em><span style="color: #800000;">give</span></em>&nbsp;robur <em><span style="color: #800000;">strength</span></em>.
3. fer&nbsp;<span style="color: #800000;"><em>bring</em></span>&nbsp;auxilium <span style="color: #800000;"><em>help</em></span>.
4. qui <span style="color: #800000;"><em>and may he</em></span> donet&nbsp;<em><span style="color: #800000;">give</span></em>&nbsp;vitam <span style="color: #800000;"><em>life</em></span>&nbsp;sine termino <em><span style="color: #800000;">without end</span></em>.
5. audi&nbsp;<em><span style="color: #800000;">hear</span></em>&nbsp;nos <em><span style="color: #800000;">us</span></em>, exaudi <em><span style="color: #800000;">hear&nbsp;graciously</span></em> nos <em><span style="color: #800000;">us</span></em>.
6. qui <em><span style="color: #800000;">who</span></em> tollis <em><span style="color: #800000;">takest away</span> </em>peccata <em><span style="color: #800000;">the sins</span></em>&nbsp;mundi <span style="color: #800000;"><em>of the world</em></span>.
7. veneremur <span style="color: #800000;"><em>let us venerate</em></span>&nbsp;tantum Sacramentum <em><span style="color: #800000;">so great a Sacrament</span></em>.
8. fides <em><span style="color: #800000;">let faith</span></em> praestet <em><span style="color: #800000;">offer</span></em> supplementum&nbsp;<em><span style="color: #800000;">a supply</span></em>.
9. praestitisti <em><span style="color: #800000;">thou gavest</span></em> panem <em><span style="color: #800000;">bread</span></em> de coelo <span style="color: #800000;"><em>from heaven</em></span>.
10. habentem <em><span style="color: #800000;">having</span></em>&nbsp;omne delectamentum <em><span style="color: #800000;">every delight</span></em>.
11. qui <em><span style="color: #800000;">who</span></em> reliquisti <em><span style="color: #800000;">hast left</span></em> memoriam <em><span style="color: #800000;">a memorial</span></em>.
12. tribue <em><span style="color: #800000;">grant</span></em> nos <em><span style="color: #800000;">that we</span></em> ita venerari <em><span style="color: #800000;">may so venerate</span></em> mysteria <em><span style="color: #800000;">the mysteries</span></em>.
13. ut&nbsp;<em><span style="color: #800000;">that</span></em> sentiamus <em><span style="color: #800000;">we may experience</span></em> fructum <em><span style="color: #800000;">the fruit</span></em> tuae redemptionis <span style="color: #800000;"><em>of thy redemption</em></span>.
14. adoremus <em><span style="color: #800000;">let us adore</span></em> sanctissimum Sacramentum <em><span style="color: #800000;">the most holy Sacrament</span></em>.
15. laudate <em><span style="color: #800000;">praise ye</span></em> Dominum <em><span style="color: #800000;">the Lord</span></em>.
16. laudate <em><span style="color: #800000;">praise ye</span></em> eum <em><span style="color: #800000;">him</span></em>.</p>
<p>Here's the quizlet widget:</p>
<p><iframe width="100%" height="410" style="border: 0;" src="https://quizlet.com/27751866/flashcards/embedv2"></iframe></p>

