---
title: Exercise 6
weight: 6
---


<p>Word List</p>
<ol>
<li>Uni Domino sit gloria</li>
<li>Trino Domino sit gloria</li>
<li>qui donet vitam nobis</li>
<li>parce nobis</li>
<li>antiquum documentum cedat novo ritui</li>
<li>fides praestet supplementum defectui sensuum</li>
<li>laus sit Genitori Genitoque</li>
<li>compar laudatio sit Procedenti ab Utroque</li>
<li>praestitisti eis panem de coelo</li>
<li>qui reliquisti nobis memoriam</li>
<li>gloria Patri et Filio et sancto Spiritui</li>
</ol>
<p>Word-for-word translation</p>
<p>1. Uni Domino <em><span style="color: #800000;">to the One Lord</span></em> sit gloria, <em><span style="color: #800000;">be glory</span></em>. 1. Trino Domino <em><span style="color: #800000;">to the Trine Lord</span></em> sit gloria, <em><span style="color: #800000;">be glory</span></em>. 1. qui donet <em><span style="color: #800000;">and may he give</span></em> vitam nobis, <em><span style="color: #800000;">life to us</span></em>. 1. parce&nbsp;<em><span style="color: #800000;">spare</span></em> nobis <em><span style="color: #800000;">us</span></em>, miserere&nbsp;<em><span style="color: #800000;">have mercy</span></em> nobis <em><span style="color: #800000;">on us</span></em>. 1. antiquum documentum cedat novo ritui, let the ancient ordinance give place to the new rite. 1. fides praestet supplementum defectui sensuum, let faith offer a supply for the deficiency of the senses. 1. laus sit Genitori Genitoque, praise be to the Father and to the Son. 1. compar laudatio sit Procedenti ab Utroque, equal laudation be to Him who proceedeth from Both. 1. praestitisti eis panem de coelo, thou gavest to them bread from heaven. 1. qui reliquisti nobis memoriam, who hast left to us a memorial. 1. gloria Patri et Filio et sancto Spiritui, glory be to the Father and to the Son and to the Holy Ghost. 1.&nbsp;</p>
<p>Last one!</p>
<p>&nbsp;</p>
<p><iframe width="100%" height="410" style="border: 0;" src="https://quizlet.com/27753136/flashcards/embedv2"></iframe></p>

