---
title: Exercise 2
date: 2015-12-01
layout: lesson
nextex: benedictionex3
prevex: benedictionex1
course: benediction
course-title: Benediction
weight: 2
---

<p>Here is the second exercise. More phrases to become familiar with.</p>

<ol>
<li>Salutaris Hostia.</li>
<li>Uni Domino.</li>
<li>Trino Domino.</li>
<li>Bella hostilia.</li>
<li>Sempiterna gloria.</li>
<li>Spiritus sancte.</li>
<li>Sancta Trinitas, unus Deus.</li>
<li>Sancta Maria.</li>
<li>Mater purissima.</li>
<li>Mater intemerata.</li>
<li>Mater amabilis.</li>
<li>Virgo prudentissima.</li>
<li>Virgo veneranda.</li>
<li>Vas insigne.</li>
<li>Rosa mystica.&nbsp;</li>
<li>Turris eburnea.</li>
<li>Domus aurea.</li>
<li>Stella matutina.</li>
<li>Sanctorum omnium.</li>
<li>Sine labe originali.</li>
<li>Regina sine labe originali concepta.</li>
<li>Tantum Sacramentum.</li>
<li>Antiquum documentum.</li>
<li>Novo ritui.</li>
<li>Compar laudatio.</li>
<li>Omne delectarnentum.</li>
<li>Sub Sacramento mirabili.</li>
<li>Passionis tuae.</li>
<li>Sacra mysteria.</li>
<li>Sanctissimum Sacramentum.</li>
<li>Omnes gentes.</li>
<li>Omnes populi.</li>
</ol>
<p>And the translations:</p>
<p><strong>Agreement of Adjective, &amp;c., with Noun.</strong></p>
<p>1. Salutaris Hostia <em>saving Victim</em>. 
2. Uni Domino <em>to the one Lord</em>. 
3. Trino Domino <em>to the trine Lord</em>. 
4. Hostilia bella <em>Hostile wars</em>. 
5. Sempiterna gloria <em>everlasting glory</em>. 
6. Sancte Spiritus <em>Holy Ghost</em>. 
7. Sancta Trinitas, unus Deus <em>Holy Trinity, One God</em>. 
8. Sancta Maria <em>holy Mary.</em> 9. Mater purissima <em>Mother most pure</em>. 
10. Mater intemerata <em>Mother undefiled</em>. 
11. Mater amabilis <em>Mother all-lovely</em>. 
12. Virgo prudentissima Virgin most prudent. 
13. Virgo veneranda Virgin to be venerated. 
14. Insigne vas singular vessel. 
15. Mystica rosa mystical rose. 
16. Eburnea turris ivory tower. 
17. Aurea domus golden house. 
18. Matutina stella morning star. 
19. Omnium Sanctorum of all the Saints. 
20. Sine originali labe without original stain. 
21. Regina queen concepta conceived sine originali labe without original stain. 
22. Tantum Sacramentum so great a Sacrament. 
23. Antiquum documentum the ancient ordinance. 
24. Novo ritui to the new rite. 
25. Compar laudatio equal laudation. 
26. Omne delectamentum every delight. 
27. Sub mirabili Sacramento under the wondrous Sacrament. 
28. Tuae Passionis of thy Passion. 
29. Sacra mysteria the sacred mysteries. 
30. Sanctissimum Sacramentum the most holy Sacrament. 
31. Omnes gentes all nations. 
32. Omnes populi all peoples.</p>
<p><iframe width="100%" height="410" style="border: 0;" src="https://quizlet.com/8616708/flashcards/embedv2"></iframe></p>
