---
layout: lesson
date: 2015-12-01
title: Exercise 1
nextex: benedictionex2
course: benediction
course-title: Benediction
weight: 1
---

<p>Preposition and noun</p>
<ol>
<li>In saecula.</li>
<li>In aeternum.</li>
<li>Super nos.</li>
<li>Sine termino.</li>
<li>In patria.</li>
<li>De coelis.</li>
<li>Pro nobis.</li>
<li>Sine labe.</li>
<li>Ab Utroque.</li>
<li>De coelo.</li>
<li>In se.</li>
<li>Sub Sacramento.</li>
<li>In nobis.</li>
<li>In principio.</li>
</ol>
<p>The idea is to be familiar with these phrases.</p>
<p>Here are the translations:</p>
<p>ACCUSATIVE CASE. 1. In saecula <span style="color: #800000;"><em>unto ages</em></span>. 2. In aeternum <span style="color: #800000;"><em>for ever</em></span>. 3. Super nos <span style="color: #800000;"><em>upon us</em></span>.</p>
<p>ABLATIVE CASE. 4. Sine termino <span style="color: #800000;"><em>without end</em></span>. 5. In patria <span style="color: #800000;"><em>in our native home</em></span>. 6. De coelis <span style="color: #800000;"><em>of heaven</em></span>. 7. Pro nobis <span style="color: #800000;"><em>for us</em></span>. 8. Sine labe <span style="color: #800000;"><em>without stain</em></span>. 9. Ab Utroque <span style="color: #800000;"><em>from Both</em></span>. 10. De coelo <span style="color: #800000;"><em>from heaven</em></span>. 11. In se <span style="color: #800000;"><em>in itself</em></span>. 12. Sub Sacramento <span style="color: #800000;"><em>under the Sacrament</em></span>. 13. In nobis <span style="color: #800000;"><em>within us</em></span>. 14. In principio <span style="color: #800000;"><em>in the beginning</em></span>,</p>
<p></p>
<p><iframe style="border: 0;" src="https://quizlet.com/8462386/flashcards/embedv2" width="100%" height="410"></iframe></p>

