---
title: Exercise 4
weight: 4
---

<ol>
<li>Quae pandis.</li>
<li>Bella premunt hostilia.&nbsp;</li>
<li>Sit sempiterna gloria.</li>
<li>Qui donet.</li>
<li>Ora pro nobis.&nbsp;</li>
<li>Qui tollis.</li>
<li>Veneremur cernui.</li>
<li>Antiquum documentum cedat.</li>
<li>Praestet fides.&nbsp;</li>
<li>Virtus quoque sit et benedictio.&nbsp;</li>
<li>Compar sit laudatio.</li>
<li>Praestitisti.&nbsp;</li>
<li>Ut sentiamus.&nbsp;</li>
<li>Qui vivis et regnas.&nbsp;</li>
<li>Adoremus.</li>
<li>Laudate.</li>
<li>Confirmata est misericordia ejus.</li>
<li>Veritas Domini manet.&nbsp;</li>
<li>Sicut erat in principio.</li>
</ol>
<p>&nbsp;And the word for word translations.</p>
<p>1. Quae <span style="color: #800000;"><em>who</em></span> pandis <span style="color: #800000;"><em>openest</em></span>.
2. Hostilia bella <span style="color: #800000;"><em>hostile wars</em></span> premunt <span style="color: #800000;"><em>sore press us</em></span>.
3. Sit- <span style="color: #800000;"><em>be</em></span> sempiterna gloria <span style="color: #800000;"><em>everlasting glory</em></span>.
1. Quae <span style="color: #800000;"><em>And may he</em></span> donet <span style="color: #800000;"><em>give</em></span>.
5. Ora <span style="color: #800000;"><em>pray thou</em></span> pro nobis <span style="color: #800000;"><em>for us</em></span>.
6. Qui <span style="color: #800000;"><em>who</em></span> tollis <span style="color: #800000;"><em>takest away</em></span>.
7. Veneremur <span style="color: #800000;"><em>let us venerate</em></span> cernui <span style="color: #800000;"><em>bowing down</em></span>.
8. Antiquum documentum <span style="color: #800000;"><em>let the ancient ordinance</em></span> cedat <span style="color: #800000;"><em>give place</em></span>.
9. Fides <span style="color: #800000;"><em>let faith</em></span> praestet <span style="color: #800000;"><em>offer</em></span>.
10. Sit <span style="color: #800000;"><em>be</em></span> virtus quoque <span style="color: #800000;"><em>power also</em></span> et benedictio <span style="color: #800000;"><em>and benediction</em></span>.
31. Sit <span style="color: #800000;"><em>be</em></span> compar laudtitio <span style="color: #800000;"><em>equal laudation</em></span>.
12. Praestitisti <span style="color: #800000;"><em>thou gavest</em></span>.
13. Ut sentiamus <span style="color: #800000;"><em>we may experience</em></span>.
14. Qui <span style="color: #800000;"><em>who</em></span> vivis <span style="color: #800000;"><em>livest</em></span> et regnas <span style="color: #800000;"><em>and reignest</em></span>.
15. Adoremus <span style="color: #800000;"><em>let us adore</em></span>.
16. Laudate <span style="color: #800000;"><em>praise ye</em></span>.
17. Ejus misericordia <span style="color: #800000;"><em>his mercy</em> </span>confirmata est <span style="color: #800000;"><em>hath been confirmed</em></span>.
18. Veritas <em><span style="color: #800000;">the truth</span></em> Domini <span style="color: #800000;"><em>of the Lord</em></span> manet <span style="color: #800000;"><em>abideth</em></span>.
19. Sicut <span style="color: #800000;"><em>as</em></span> erat <span style="color: #800000;"><em>it was</em></span> in principio <span style="color: #800000;"><em>in the beginning</em></span>.</p>
<p>&nbsp;</p>
<p><iframe width="100%" height="410" style="border: 0;" src="https://quizlet.com/27750527/flashcards/embedv2"></iframe></p>
