---
title: Exercise 3
weight: 3
---

<p>Genitives</p>

<p>Read through the list slowly.&nbsp; Some may be familiar.</p>
<ol>
<li>Coeli ostium.</li>
<li>Redemptor mundi.</li>
<li>Sancta Dei genitrix.</li>
<li>Sancta Virgo virginum.</li>
<li>Mater Christi.</li>
<li>Mater divinae gratiae.</li>
<li>Mater Creatoris.</li>
<li>Mater Salvatoris.</li>
<li>Speculum justitiae.</li>
<li>Sedes sapientiae.</li>
<li>Causa nostrae laetitiae.</li>
<li>Vas insigne devotionis.</li>
<li>Foederis arca.</li>
<li>Regina angelorum.</li>
<li>Regina prophetarum.</li>
<li>Regina martyrum.</li>
<li>Regina Sanctorum omnium.&nbsp;</li>
<li>Agnus Dei.&nbsp;</li>
<li>Peccata mundi.&nbsp;</li>
<li>Sensuum defectui.&nbsp;</li>
<li>Passionis tuae memoriam.&nbsp;</li>
<li>Corporis et sanguinis tui mysteria.</li>
<li>Redemptionis tuae fructum.</li>
<li>In saecula saeculorum.</li>
<li>Misericordia ejus.</li>
<li>Veritas Domini.</li>
</ol>
<p>And the word for word translation:</p>
<p>1. Ostium <em><span style="color: #800000;">the gate</span></em> coeli <em><span style="color: #800000;">of heaven</span></em>. 2. Redemptor <em><span style="color: #800000;">Redeemer</span></em> mundi <em><span style="color: #800000;">of the world</span></em>. 3. Sancta Genitrix <span style="color: #800000;"><em>holy Mother</em> </span>Dei <em><span style="color: #800000;">of God</span></em>. 4. Sancta Virgo <em><span style="color: #800000;">holy Virgin</span></em> virginum <span style="color: #800000;"><em>of virgins</em></span>. 5. Mater <span style="color: #800000;"><em>Mother</em></span> Christi <span style="color: #800000;"><em>of Christ</em></span>. 6. Mater <span style="color: #800000;"><em>Mother</em></span> divinae gratiae <span style="color: #800000;"><em>of divine grace</em></span>. 1. Mater <span style="color: #800000;"><em>Mother</em></span> Creatoris<span style="color: #800000;"><em> of the Creator</em></span>. 8. Mater <span style="color: #800000;"><em>Mother</em></span> Salvatoris <span style="color: #800000;"><em>of the Saviour</em></span>. 9. Speculum <span style="color: #800000;"><em>mirror</em></span> justitiae <span style="color: #800000;"><em>of justice</em></span>. 10. Sedes <span style="color: #800000;"><em>seat</em></span> sapientiae <span style="color: #800000;"><em>of wisdom</em></span>. 11. Causa <span style="color: #800000;"><em>cause</em></span> nostrae laetitiae <span style="color: #800000;"><em>of our joy</em></span>. 12. Insigne vas <span style="color: #800000;"><em>singular vessel</em></span> devotionis <span style="color: #800000;"><em>of devotion</em></span>. 13. Arca <span style="color: #800000;"><em>ark</em></span> foederis <span style="color: #800000;"><em>of the covenant</em></span>. 14. Regina <span style="color: #800000;"><em>queen</em></span> angelorum<span style="color: #800000;"><em> of angels</em></span>. 15. Regina <span style="color: #800000;"><em>queen</em></span> prophetarum<span style="color: #800000;"><em> of prophets</em></span>. 16. Regina <em>queen</em> rnartyrum <span style="color: #800000;"><em>of martyrs</em></span>. 17. Regina <span style="color: #800000;"><em>queen</em></span> omnium Sanctorum <span style="color: #800000;"><em>of all the Saints</em></span>. 18. Agnus <span style="color: #800000;"><em>Lamb</em></span> Dei <span style="color: #800000;"><em>of God</em></span>. 19. Peccata<span style="color: #800000;"><em> the sins</em></span> mundi <span style="color: #800000;"><em>of the world</em></span>. 20. Defectui<span style="color: #800000;"><em> for the deficiency</em></span> sensuum <span style="color: #800000;"><em>of the senses</em></span>. 21. Memoriam <span style="color: #800000;"><em>a memorial</em></span> tuae Passionis <span style="color: #800000;"><em>of thy Passion</em></span>. 22. Mysteria <span style="color: #800000;"><em>the mysteries</em></span> tui corporis <span style="color: #800000;"><em>of thy body</em></span> et sanguinis <span style="color: #800000;"><em>and blood</em></span>. 23. Fructum <span style="color: #800000;"><em>the fruit</em></span> tuae redemptionis <span style="color: #800000;"><em>of thy redemption</em></span>. 24. In saecula <span style="color: #800000;"><em>unto ages</em></span> saeculorum <span style="color: #800000;"><em>of ages</em></span>. 25. Ejus <span style="color: #800000;"><em>his</em></span> misericordia <span style="color: #800000;"><em>mercy</em></span>. 26. Veritas <span style="color: #800000;"><em>the truth</em></span> Domini<span style="color: #800000;"><em> of the Lord</em></span>.</p>
<p>&nbsp;</p>
<p><iframe width="100%" height="410" style="border: 0;" src="https://quizlet.com/13016866/flashcards/embedv2"></iframe></p>

