---
layout: default
title: Tantum Ergo
date: 2015-12-12
weight: 10
---

<h1>Tantum Ergo</h1>

<p>Hymn at Benediction</p>
<p>Tantum ergo Sacramentum<br /> Veneremur cernui:<br /> Et antiquum documentum<br /> Novo cedat ritui:<br /> Pr&aelig;stet fides supplementum<br /> Sensuum defectui.</p>
<p>Genitori, Genitoque<br /> Laus et jubilatio,<br /> Salus, honor, virtus quoque<br /> Sit et benedictio:<br /> Procedenti ab utroque<br /> Compar sit laudatio.<br /> Amen.</p>
<p><br /> ℣. Panem de c&aelig;lis pr&aelig;stitisti eis (in Paschaltide, 'Alleluia' is added).<br /> ℟. Omne delectamentum in se habentem<sup>[Wis 16:20]</sup> (in Paschaltide, 'Alleluia' is added).</p>
<p>Oremus: Deus, qui nobis sub sacramento mirabili, passionis tu&aelig; memoriam reliquisti: tribue, qu&aelig;sumus, ita nos corporis et sanguinis tui sacra mysteria venerari, ut redemptionis tu&aelig; fructum in nobis iugiter sentiamus. Qui vivis et regnas in s&aelig;cula s&aelig;culorum.</p>
<p>℟. Amen.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/H1gjZ15EWrs?rel=0" frameborder="0" allowfullscreen></iframe>

<p>
<a href="{{ site.url }}/latin/benediction.html">back to Benediction</a>
</p>
<p>
<a href="{{ site.url }}/latin/">back to Catholic's Latin Instructor</a>
</p>
