---
title: Exercise 2a
layout: lesson
prevex: serverex1
nextex: serverex2b
course: server
course-title: Server prayers
weight: 2
---

<p>This exercise has two word lists.</p>
<p>Here is section 1: <strong>Accusatives</strong></p>
<ol>
<li>Juventutem meam.</li>
<li>Causam meam.</li>
<li>Lucem tuam.</li>
<li>Veritatem tuam.</li>
<li>In montem sanctum tuum.</li>
<li>Ad vitam aeternam.</li>
<li>Beatam Mariam.</li>
<li>Beatum Joannem Baptistam.</li>
<li>Sanctos Apostolos.</li>
<li>Omnes Sanctos.</li>
<li>Ad Dominum Deum nostrum.</li>
<li>Misericordiam tuam.</li>
<li>Salutare tuum,</li>
<li>Orationem meam.</li>
<li>Apud Deum Patrem omnipotentem.</li>
<li>Per omnia saecula.</li>
<li>Requiem sempiternam.</li>
</ol>
<p>&nbsp;</p>

<p>1. ACCUSATIVES.</p>
<p>1. Meam juventutem <em><span style="color: #800000;">my youth</span></em>. 2. Meam causam <span style="color: #800000;"><em>my cause</em></span>. 3. Tuam lucem <span style="color: #800000;"><em>thy light</em></span>. 4. Tuam veritatem <span style="color: #800000;"><em>thy truth</em></span>. 5. In tuum sanctum montem <span style="color: #800000;"><em>to thy holy hill</em></span>. 6. Ad vitam aeternam <em><span style="color: #800000;">to life eternal</span></em>. 7. Beatam Mariam <span style="color: #800000;"><em>blessed Mary</em></span>. 8. Beatum&nbsp;Joannem Baptistam <span style="color: #800000;"><em>blessed John the Baptist</em></span>. 9. Sanctos Apostolos <span style="color: #800000;"><em>the holy Apostles</em></span>. 10. Omnes Sanctos <span style="color: #800000;"><em>all the Saints</em></span>. 11. Ad Dominum <span style="color: #800000;"><em>to the Lord</em></span> nostrum Deum <span style="color: #800000;"><em>our God</em></span>. 12. Tuam misericordiam <em><span style="color: #800000;">thy mercy</span></em>. 13. Tuum salutare <span style="color: #800000;"><em>thy salvation</em></span>. 14. Meam orationem <span style="color: #800000;"><em>my prayer</em></span>. 15. Apud Deum <em><span style="color: #800000;">with God</span></em> Patrem omnipotentem <em><span style="color: #800000;">the Father Almighty</span></em>. 16. Per omnia saecula <em><span style="color: #800000;">through all ages</span></em>. 17. Sempiternam requiem <em><span style="color: #800000;">eternal rest.</span></em></p>

<p><iframe width="100%" height="410" style="border: 0;" src="https://quizlet.com/30207737/flashcards/embedv2"></iframe></p>


