---
title: Exercise 2b
layout: lesson
prevex: serverex2
course: server
course-title: Server prayers
weight: 3
---

<p>NOMINATIVES AND OTHER CASES.</p>
<ol>
<li>Fortitude mea.</li>
<li>Deus meus.</li>
<li>Adjutorium nostrum.</li>
<li>Omnipotens Deus.</li>
<li>Omnipotens et misericors Dominus.</li>
<li>Tu conversus.</li>
<li>Plebs tua.</li>
<li>Clamor meus.</li>
<li>Meum ac vestrum sacrificium.</li>
<li>Sacrificium acceptabile.</li>
<li>Dignum et&nbsp;justum.</li>
<li>Sanctus, sanctus, sanctus Dominus Deus.</li>
<li>Totius ecclesiae.</li>
<li>Totius ecclesiae suae.</li>
<li>Totius ecclesiae suae sanctae.</li>
<li>Vultus mei.</li>
<li>Sancti Evangelii.</li>
<li>Deo omnipotenti.</li>
<li>Beatae Mariae.</li>
<li>Beato Joanni Baptistae.</li>
<li>Sanctis Apostolis.</li>
<li>Omnibus Sanctis.</li>
<li>Anima mea.</li>
<li>De gente non sancta.</li>
<li>Ab homine iniquo et doloso.</li>
<li>Dimissis peccatis tuis.</li>
<li>Mea culpa, mea maxima culpa.</li>
<li>Dimissis peccatis vestris.&nbsp;</li>
</ol>
<p>&nbsp;</p>

<p>1. Mea fortitudo&nbsp;<span style="color: #800000;"><em>my strength</em></span>. 2. Meus Deus <em><span style="color: #800000;">my God.</span></em> 3. Nostrum adjutorium <em><span style="color: #800000;">our help</span></em>. 4. Omnipotens Deus <em><span style="color: #800000;">Almighty God</span></em>. &nbsp;5. Omnipotens et misericors Dominus <em><span style="color: #800000;">the Almighty and merciful </span></em><em><span style="color: #800000;">Lord</span></em>. 6. Tu <em><span style="color: #800000;">thou</span></em> conversus <em><span style="color: #800000;">being turned</span></em>. 7. Tua plebs <em><span style="color: #800000;">thy people</span></em>. 8. Meus clamor <em><span style="color: #800000;">my cry</span></em>. 9. Meum <em><span style="color: #800000;">my</span> </em>ac vestrum sacrificium <em><span style="color: #800000;">and your sacrifice</span></em>. 10. Acceptabile sacrificium <em><span style="color: #800000;">an acceptable sacrifice.</span></em> 11. Dignum <em><span style="color: #800000;">worthy</span></em> et justum <em><span style="color: #800000;">and just</span></em>. 12. Sanctus <em><span style="color: #800000;">holy</span></em>, sanctus <em><span style="color: #800000;">holy</span></em>, sanctus <em><span style="color: #800000;">holy</span></em> Dominus Deus <em><span style="color: #800000;">Lord God</span></em>. 13. Totius ecclesiae&nbsp;<span style="color: #800000;"><em>of all the Church</em></span>. 14. Totius suae ecclesiae&nbsp;<span style="color: #800000;"><em>of all his Church</em></span>. 15. Totius suae sanctae ecclesise <em><span style="color: #800000;">of all his holy Church</span></em>. 10. Mei vultus <em><span style="color: #800000;">of my countenance</span></em>. 17. Sancti Evangelii <em><span style="color: #800000;">of the holy Gospel</span></em>. 18. Omnipotenti Deo <span style="color: #800000;"><em>to Almighty God.</em></span> 19. Beatae Mariae <em><span style="color: #800000;">to blessed Mary</span></em>. 20. Beato Joanni Baptistae <em><span style="color: #800000;">to blessed John the Baptist</span></em>. 21. Sanctis Apostolis <em><span style="color: #800000;">to the holy Apostles</span></em>. 22. Omnibus Sanctis <em><span style="color: #800000;">to all the Saints</span></em>. 23. Mea anima <em><span style="color: #800000;">my soul</span></em>. 24. De gente <em><span style="color: #800000;">from a nation</span></em> non sancta <em><span style="color: #800000;">not holy</span></em>. 25. Ab iniquo <em><span style="color: #800000;">from the unjust</span></em> et doloso homine <em><span style="color: #800000;">and deceitful man</span></em>. 26. Tuis peccatis <em><span style="color: #800000;">thy sins</span></em> dimissis <em><span style="color: #800000;">being forgiven</span></em>. 27. Mea culpa <span style="color: #800000;"><em>by my fault</em></span>, mea maxima culpa <em><span style="color: #800000;">by my most grievous fault</span></em>. 28. Vestris peccatis <em><span style="color: #800000;">your sins</span></em> dimissis <em><span style="color: #800000;">being forgiven</span></em>.</p>

<p><iframe width="100%" height="410" style="border: 0;" src="https://quizlet.com/30209560/flashcards/embedv2"></iframe></p>
