---
title: Exercise 1
layout: lesson
nextex: serverex2
course: server
course-title: Server prayers
weight: 1
---

<p>Here is the list of words to learn. &nbsp;This first list includes the phrases with the same word order as they appear in your missal. &nbsp;Below you will find a word for word translation which rearranges the Latin word order to match the English word order. &nbsp;</p>
<p>After that comes a Quizlet widget. &nbsp;This is a really handy tool for learning the vocbulary. &nbsp;After you have read through the words and their meanings, you can select another "Study Mode". &nbsp;Try Scatter.</p>
<ol>
<li>Ad altare.</li>
<li>Ad Deum.</li>
<li>In montem tuum.&nbsp;</li>
<li>In tabernacula tua.</li>
<li>In saecula.</li>
<li>Ad vitam.</li>
<li>Ad Dominum.</li>
<li>Ad te.</li>
<li>Apud Deum.</li>
<li>Ad laudem et gloriam.</li>
<li>Ad utilitatem nostram.</li>
<li>Per saecula.</li>
<li>In tentationem.</li>
<li>In nomine.</li>
<li>De gente.</li>
<li>Ab homine.</li>
<li>In cithara.&nbsp;</li>
<li>In Deo.</li>
<li>In principio.</li>
<li>Pro me.</li>
<li>In te.</li>
<li>Vobiscum.</li>
<li>Cum spiritu tuo.</li>
<li>De manibus tuis.</li>
<li>In excelsis.</li>
<li>A malo.</li>
<li>In pace.&nbsp;</li>
</ol>
<p>&nbsp;</p>


<h2>Preposition and Noun.</h2>
<h3>ACCUSATIVES.</h3>
<p>1. Ad altare <span style="color: #800000;"><em>to the altar</em></span>. 2. Ad Deum <span style="color: #800000;"><em>to God</em></span>. 3. In tuum montem <span style="color: #800000;"><em>to thy hill</em></span>. 4. In tua tabernacula <span style="color: #800000;"><em>to thy tabernacles</em></span>. 5. In saecula <span style="color: #800000;"><em>unto ages</em></span>. 6. Ad vitam <span style="color: #800000;"><em>to life</em></span>. 7. Ad Dominum <span style="color: #800000;"><em>to the Lord</em></span>. 8. Ad te <span style="color: #800000;"><em>unto thee</em></span>. 9. Apud Deum <span style="color: #800000;"><em>with God</em></span>. 10. Ad laudem <span style="color: #800000;"><em>to the praise</em></span> et gloriam <span style="color: #800000;"><em>and glory</em></span>. 11. Ad nostram utilitatem <span style="color: #800000;"><em>to our benefit</em></span>. 12. Per saecula <span style="color: #800000;"><em>through ages</em></span>. 13. In tentationem <span style="color: #800000;"><em>into temptation</em></span>.</p>
<h3>ABLATIVES.</h3>
<p>14. In nomine <span style="color: #800000;"><em>in the name</em></span>. 15. De gente <span style="color: #800000;"><em>from a nation</em></span>. 16. Ab homine <span style="color: #800000;"><em>from the man</em></span>. 17. In cithara <span style="color: #800000;"><em>on the harp</em></span>. 18. In Deo <span style="color: #800000;"><em>in God</em></span>. 19. In principio <span style="color: #800000;"><em>in the beginning</em></span>. 20. Pro me <span style="color: #800000;"><em>for me</em></span>. 21. In te <span style="color: #800000;"><em>in thee</em></span>. 22. Cum vobis <span style="color: #800000;"><em>with you</em></span>. 23. Cum tuo spiritu <span style="color: #800000;"><em>with thy spirit</em></span>. 24. De tuis manibus <span style="color: #800000;"><em>from thy hands</em></span>. 25. In excelsis <em><span style="color: #800000;">in the highest</span></em>. 26. A malo <span style="color: #800000;"><em>from evil</em></span>. 27. In pace <span style="color: #800000;"><em>in peace</em></span></p>


<p><iframe width="100%" height="410" style="border: 0;" src="https://quizlet.com/29568950/flashcards/embedv2"></iframe></p>
