---
title: A Curriculum for 2009
author: veronica
date: 2009-01-24
categories: ["Education"]
layout: post
image: tealbyspa400x250.jpg
---


<p>Perhaps not the school-in-a-box experience, but I'm thinking about 
a plan for this year.   </p>

<h2>Maths</h2>

<p>I'm sold on CMIT's 
<a href="http://cimt.plymouth.ac.uk/projects/mepres/primary/">
Maths Enhancement Program</a> right now.  Daily lesson plans
and worksheets including lots of hands on ideas.
</p>

<h2>Literature/Science/History/et cetera</h2>

<p>Finally read some in depth Charlotte Mason theory
so I'm trying <a href="http://www.amblesideonline.org">Ambleside Online</a></p>

<p>For a Catholic slant there's <a href="http://materamabilis.org">
Mater Amabilis</a> and look out for the Catholic Mosaic booklist.
</p>

<p>So we're raiding Project Gutenberg for good books.  There's a special Project Gutenberg of Australia too.</p>

<p></p>

<br>

<p></p>

