---
layout: post
author: veronica
title: A Curriculum for 2010
categories: ["Education"]
date: 2010-08-20
image: tealbyspa400x250.jpg
---


<p>I'm writing this in late August, so maybe not so much a plan as a
report.</p>

<p>The most exciting new thing for this year has been finding the <a
href="http://classicalliberalarts.com">Classical Liberal Arts
Academy</a>(CLAA).  It is a distance education program delivered at your own pace
over the internet.  The framework comes from old Classical teaching -
the trivium and quadrivium.  Although it seems beyond our abilities at
the moment, it is good to know it is there.</p>

<h2>Religion</h2>

<p>This year our second son made his first Holy Communion.  He had to
go through the St Joseph's Baltimore Catechism for First Communicants.
We are also getting through the Faith and Life series.  Weekday Masses
help too - at least once a month.  Researching saints is good for
history as well as spirituality.  Saint of the Day stories for children are available at
<a href="http://jclubcatholic.com">J Club</a> by the Sisters of St Paul.
</p>

<h2>Maths</h2>

<p>I'm still referring to CMIT's 
<a href="http://cimt.plymouth.ac.uk/projects/mepres/primary/">
Maths Enhancement Program</a> from time to time.  Instead of following
their program we do a little arithmetic drill.  Addition grids have
been a handy way to get more arithmetic practice for minimal writing.
Each boy has a half a 10mm grid exercise book to write in.  We cut a
regular book in half to make smaller books so hopefully we can have a
little work done well.
</p>

<h2>Handwriting, spelling, grammar</h2>

<p>Each day each child writes a little - we're creeping up to one
sentence a day.  Instead of preprinted texts its just Mum's best
printing (descended from NSW foundation) copied, making sure to form
letters from top to bottom.  Again we cut the exercise books to make
smaller books to help focus on doing a small bit well.</p>

<p>For learning grammar we have <a
href="http://www.archive.org/details/grammarlandorgr00nesbgoog">Grammar-land
by M L Nesbit</a>.  It seems like a fun way to start.  The book has
been scanned and the text read by computer.  The pdf is quite
readable, but the text version is awful.  A project would be to fix up
the text and add in printable worksheets for each chapter.</p>

<h2>Literature/Science/History/et cetera</h2>

<p>Reading aloud.  Peter is reliving Swallows and Amazons for bedtime
stories.  Veronica's reading Robin Hood - or one version thereof (SC
Johnson, abridged).</p>

<p>The Blue Mountains City Library is a great source of books.  The
feeling of selecting a bagful of books with no charge, and no obligation to find permanent shelf
space for them cheers me up no end.  They will even consider requests
to purchase new books.  I have taken in book reviews from the Journal
of Catholic Culture AD2000 and a few months later they have the book.</p>

<p>Our not very local homeschoolers group has excursions too.  We've
been to Manly Oceanworld and a children's concert with the Sydney
Symphonia.
</p>

<p>So that is what our homeschooling looks like at the moment.  The
boys are learning and our family is hanging together.</p>

<p>My goals for education were to make sure they knew they didn't know
everything and to know that they could learn anything.  That came from
when I was tutoring.  I guess it's about the balance between
presumption and despair.  </p>

<h3>Adult education</h3>

<p>Why not add a section for the parents?</p>

<p>Veronica likes studying and so she's doing a course about <a
href="http://woomb.org">The Billings Ovulation Method</a> of Natural
Family Planning.  Also stalled somewhere in the <a
href="http://www.latin-mass-society.org/simplicissimus/index.htm">Latin
Mass Society, Simplicissimus course</a>.</p>



<p></p>

<br>

<p></p>


