---
comments: true
author: veronica
date: 2011-07-21
layout: post
title: Hymn to St Mary of the Cross
categories: ["Music"]
redirect_from: "/2011/07/21/hymn-st-mary.html"
image: stmaryofthecross_papastronsay400.jpg
---

<div style="float: right; margin-left="1em"; width="50%">
<a href="http://papastronsaypictures.blogspot.com.au/"><img src="/StMaryoftheCross_papastronsay.jpg">
<div>
Portrait of Mary of the Cross<br />thanks to Papa Stronsay Pictures</a>
</div></div>

<p>
A hymn to the first saint of Australia in a simple traditional metrical style.  St Mary of the Cross is commonly known by her name before religion - Mary MacKillop.  Start singing it now to prepare for her feast on the 8th August.
</p>
<p>
O Mother Mary of the Cross<br>
The first Australian saint, we hail.<br>
Thy work to lead the poor to truth<br>
Awaking mercy in thy trail.
</p>
<p>
Thou ever soughtest Joseph's aid,<br>
Strong in the faith that he would be<br>
An advocate to that dear Heart<br>
That bled and died upon the Tree.
</p>
<p>
The Tree of life, the Cross of death<br>
To which thy name and life were bound,<br>
The paradox that pain and strife<br>
To everlasting joy redound.
</p>
<p>
O Mary! intercede for us<br>
And form us to His holy Will<br>
With Father and the Holy Ghost<br>
And Heart of Jesus burning still.
</p>
<p>
Veronica Brandt (1979-)
</p>
<p>Here's a rendition using the tune Creator Alme Siderum.</p>
<iframe width="420" height="315" src="https://www.youtube.com/embed/bY7cazgQ1jw?rel=0" frameborder="0" allowfullscreen></iframe>
<p>
Sheet music for a <a href="http://hymni.files.wordpress.com/2013/07/omothermarysimple.pdf">OMotherMarySimple</a> (pdf)
</p>
<p>
Any Long Meter tune will do.  I've picked Rockingham since it's new-ish to me.  When I was nutting out the words I had the tune for Creator Alme Siderum in my head.
</p>
<p>
Also brand new setting by <a href="http://www.cpdl.org/wiki/index.php/O_Mother_Mary_of_the_Cross_(Charles_H._Giffen)">Charles H Giffen</a>.
</p>
<p>
Feedback on this is most welcome.
</p>
<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Hymn to St Mary of the Cross</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://brandt.id.au" property="cc:attributionName" rel="cc:attributionURL">Veronica Brandt</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
