---
date: 2012-07-06
author: veronica
layout: post
categories: ["Music"]
title: Online games to learn chant
comments: true
image: dotilaso.jpg
---
<p>
Mix up educational programming software and teaching Gregorian chant:
</p>

<iframe allowtransparency="true" width="485" height="402" src="http://scratch.mit.edu/projects/embed/2792911/" frameborder="0" allowfullscreen></iframe>

<p>
<a href='http://scratch.mit.edu/projects/brandts/2657536'>Learn more about this project</a>
</p>

<p>
It's a start.
</p>
<p>
So I guess you start with punctums, moving up to a complete scale.  Then introduce the podatus.  Make an online songbook of the Marian Antiphons, Simple Tone - would you click each neume to play it, or just sit back and watch each neume light up?
</p>
<p>
And the beauty of it is that you can install Scratch yourself, download my project and use it as the basis of your own work.  Scratch is colourful and easy to use - aimed at children.
</p>

<strong>UPDATE</strong>: here is another, slightly more advanced project:

<a href="https://scratch.mit.edu/projects/2792911/"><img src="/singneumes.jpg">Sing Neumes</a>

