{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
	    <div class="container">
            <div class="row">
 
                <div class="col-md-7 pl-0">      
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>

        <section class="text-center">
            {{ with .Site.Params.index.subtitle }}
            <h3 class="index-sub">{{ . }}</h3>
            {{ end }}
            {{ with .Site.Params.index.mdtext }}
            <h6 class="index-text">{{ . | markdownify }}</h6>
            {{ end }}
                        {{ .Content}}
	</section></div>
	<div class="col-md-5">
		<h3>Recent stuff</h3>
	<ul>
	    {{ range .Site.RegularPages.ByLastmod.Reverse | first 7 }}
            <li>
            <strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong>
            <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
            </li>
	    {{ end }}
	</ul>
	<iframe src="https://anchor.fm/veronica-brandt/embed" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
	<h3>Today in the Roman Martyrology</h3>
		<div style="outline: 1px dotted black; width: 30em; max-width: 90%; padding: 0 2% 0 2%; margin-left: auto ; margin-right: auto ; "><script type="text/javascript" src="https://roman-martyrology.brandt.id.au/js/rotate.js"></script></div>
	</div>
	    </div>
            <div class="row">
 
                <div class="col-md-4 pl-0">      
			<h3>People</h3>
			<ul>
				<li><a href="https://peterbrandt.com.au">Peter Brandt</a></li>
				<li><a href="https://veronica.brandt.id.au">Veronica Brandt</a></li>
				<li><a href="https://patrick.brandt.id.au">Patrick Brandt</a></li>
			</ul>

	</div>
                <div class="col-md-4 pl-0">      
			<h3>Projects</h3>

			<ul><li><a href="http://newbookoldhymns.brandt.id.au">A New Book of Old Hymns &nbsp;<img src="angelshort.jpg" style="display: inline; "></a></li>
				<li><a href="https://roman-martyrology.brandt.id.au">Roman Martyrology</a></li>
				<li><a href="truth">Living the Truth</a></li>
				<li><a href="latin">Latin</a></li>
			<li><a href="https://kidschant.com">Kids Chant</a></li>
				<li><a href="https://compline.brandt.id.au">Family Compline</a></li></ul>
		</div>

                <div class="col-md-4 pl-0">      
			<h3>Recommended Charities</h3>
			<ul><li><a href="https://aidtochurch.org">Aid to the Church in Need</a></li>
				<li><a href="https://fli.org.au">Family Life International</a></li>
				<li><a href="https://carmeljmj.org.au/">Carmel of Jesus, Mary and Joseph</a></li>
				<li><a href="https://fssp-parra.org">Parramatta FSSP</a></li>
				<li><a href="https://maternalheart.org">Maternal Heart of Mary Church, Lewisham</a></li>
				<li><a href="https://papastronsay.com">Transalpine Redemptorists</a></li>
			</ul>
		</div>
	    </div>
	    </div>
    </div>
    {{- partial "_shared/social.html" . -}}
    {{ if isset .Site.Params.index "alertbar" }}
    	{{ if .Site.Params.index.alertbar }}
            {{- partial "_shared/alertbar.html" . -}}
        {{ end }}
    {{ end }}
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
