<!-- Bottom Alert Bar
================================================== -->
<div class="alertbar">
	<div class="container text-center">
        <span>
            {{ if isset .Site.Params "logo" }}
                <img src="{{ .Site.Params.logo | urlize | relURL }}" alt="logo">
            {{ else }}
                <span style="font-family:Rye;">{{.Site.Title}}</span>
            {{ end }}
            &nbsp; Never miss a <b>story</b>, subscribe to our newsletter
        </span>

        <form action="{{ with .Site.Params.mailchimp }}{{.}}{{end}}" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
		<input type="email" placeholder="Email" name="EMAIL" autocomplete="on" required>
	    	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{{ with .Site.Params.mailprotect }}{{.}}{{end}}" tabindex="-1" value=""></div>
		<input type="submit" value="Subscribe" name="subscribe" >
        </form>

	</div>
</div> 
