---
layout: article
title: A New Book of Old Hymns
comments: true
redirect_from: /pvb/music/hymnbook/
categories: ["Music"]
---


<p align="center">
<img src="holyghost.png" width="144" height="53" border="0" alt="Come Holy Ghost" align="center">
<p>

<p style="text-size: large">This page has grown into its own webpage:
<a href="https://newbookoldhymns.brandt.id.au">newbookoldhymns.brandt.id.au</a>
</p><p>Now with glossed texts, youtube links, spotify playlists, crossword puzzles to help you learn the vocabulary and suggested weekly lesson plans.
</p>

<p align="center">
<a href="https://newbookoldhymns.brandt.id.au" class="button">Check it out!</a>
</p>

<p align="center">
<img src="flourish.png" width="72" height="57" border="0" alt="ta dah" align="center">
</p>

<blockquote class="blockquote-reverse"><p class="quote">
The treasure of sacred music is to be 
preserved and fostered with very great care.
</p>
<footer><cite>
Sacrosanctum Concilium, Vatican II
</cite></footer>
</blockquote>
<img style="margin: 0 0 1em 1em" src="cover.jpg" width="150" height="206" border="0" align="right" alt="A New Book of Old Hymns">

<ul>
<li>First published 2004, 
</li><li>second edition 2006, 
</li><li>third edition 2007, 
</li><li>revised 2009, 
</li><li>a few typos fixed in 2011 (mainly Adoremus and Stella Splendens).</p>
</li>
<li>Imprimatur 2014!!</li>
<li>More minor revisions February and November 2016</li>
</ul>


