<fieldset>
<form action="https://formspree.io/veroicon@gmail.com" method="POST">
	<label for="name">Name</label><br>    
    <input type="text" id="name" name="name" class="full-width"><br>
    <label for="email">Email Address</label><br>
    <input type="email" id="email" name="_replyto" class="full-width"><br>
    <label for="message">Message</label><br>
    <textarea name="message" id="message" cols="30" rows="10" class="full-width"></textarea><br>
<input type="hidden" name="_subject" value="Msg from Brandt contact" />
<input type="text" name="_gotcha" style="display:none" />
    <input type="submit" value="Send" class="button">
  </form>
</fieldset>
