<div data-embed="widget"><script type="text/props">{"action":"buy","colors":{"buttons":{"background":"#374fa1","text":"#ffffff"},"checkout":{"background":"#7959c7","text":"#ffffff"}},"description":true,"logos":true,"modal":true,"url":"http://selz.co/{{.Get 0}}","width":240}</script></div>
<script async src="https://embeds.selzstatic.com/1/loader.js"></script>
<noscript><a href="http://selz.co/{{.Get 0}}" target="_blank">Get it now</a></noscript>
